<a href="https://colab.research.google.com/github/Adristiftitah/TDATA_WEEK4/blob/main/1841720015_2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/TDATA/fifa.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    286 non-null    object
 1   ARG     286 non-null    float64
 2   BRA     286 non-null    float64
 3   ESP     286 non-null    float64
 4   FRA     286 non-null    float64
 5   GER     286 non-null    float64
 6   ITA     286 non-null    float64
dtypes: float64(6), object(1)
memory usage: 15.8+ KB