<a href="https://colab.research.google.com/github/Adristiftitah/TDATA_WEEK4/blob/main/1841720015_6_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Adristi Iftitah Yuniar - 1841720015
import pandas as pd

df= pd.read_excel('/content/drive/MyDrive/TDATA/OnlineRetail.xlsx')
df.info()
print(df.isnull().any())
print(df.isnull().sum())
print(df[df['Description'].isnull()].head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207719 entries, 0 to 207718
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    207719 non-null  object
 1   StockCode    207719 non-null  object
 2   Description  206886 non-null  object
 3   Quantity     207719 non-null  int64
 4   InvoiceDate  207719 non-null  datetime64[ns]
 5   UnitPrice    207719 non-null  float64
 6   CustomerID   148101 non-null  float64
 7   Country      207719 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 12.7+ MB
InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool
InvoiceNo          0
StockCode          0
Description      833
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     59618
Country            0
dtype: int64
     InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
622     536414     22139         NaN  ...        0.0        NaN  United Kingdom
1970    536545     21134         NaN  ...        0.0        NaN  United Kingdom
1971    536546     22145         NaN  ...        0.0        NaN  United Kingdom
1972    536547     37509         NaN  ...        0.0        NaN  United Kingdom
1987    536549    85226A         NaN  ...        0.0        NaN  United Kingdom

[5 rows x 8 columns]